@model IEnumerable<ForumFile>

@{
    ViewData["Title"] = "Index";
}

<h1>Upload Files</h1>
<p>Only pdf, jpg and png-files allowed</p>

<form id="uploadForm" asp-action="UploadFile" asp-controller="ForumFiles" method="post"
      enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;">
    <dl>
        <dt>
            <label for="file">File</label>
        </dt>
        <dd>
            <input class="form-control" id="file" type="file" name="file" />
        </dd>
    </dl>
    <input class="btn btn-primary" type="submit" value="Upload" />
    <div style="margin-top:15px">
        <output form="uploadForm" name="result"></output>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                File
            </th>
            <th>
                Created
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UntrustedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    <a asp-action="Download" asp-route-id="@item.Id">Download</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
